---
---

{% assign devices = "" | split: " " %}
{% for device in site.data.devices %}
{% assign devices = devices | push: device[1] %}
{% endfor %}
{% assign sorted = devices | sort_natural: 'versions.last', | reverse | sort_natural: 'release' | reverse %}

 <table>
  <tr>
    <th>Vendor</th>
    <th>Name</th>
    <th>Codename</th>
    <th>Release Date</th>
    <th>SOC</th>
    <th>Latest LOS</th>
  </tr>
  {% for device in sorted %}
  <tr>
    <td>{{ device.vendor }}</td>
    <td>{{ device.name }}</td>
    <td><a href="https://wiki.lineageos.org/devices/{{ device.codename }}/">
      {{ device.codename }}
    </a></td>
    <td>
    {% if device.release.last %}
      {{ device.release.last.first[1] }}
    {% else %}
      {{ device.release }}
    {% endif %}
    </td>
    <td>{{ device.soc }}</td>
    <td>{{ device.versions.last }}</td>
  </tr>
  {% endfor %}
</table> 
