<header>
  <a href="https://github.com/AndreVallestero/lineageos-device-browser">Help improve (and name) this open source project on Github</a>
</header>
<table>
  <tr>
    <th>Vendor</th>
    <th>Name</th>
    <th>Codename</th>
    <th>Release Date</th>
    <th>SOC</th>
    <th>Latest LOS</th>
  </tr>
  {}
</table> 
